{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Flasky{% endblock %}
{% block body %}

    <!-- 渲染flash消息 -->
    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endfor %}
        {% block page_content %}{% endblock %}
    </div>

    <div class="page-header">
        <a href='/boot'><b>bootstrap page</b></a>
        <p></p>

        <h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>
        {% if not known %}
        <p>Pleased to meet you!</p>
        {% else %}
        <p>Happy to see you again!</p>
        {% endif %}
    </div>

    <p></p>
    {{ wtf.quick_form(form) }}

{% endblock %}



